/* CSS reset */
html, body, div, span, h1, h2, pre, a, img, ol, ul, li, section, footer {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    height:100%
}

.main {
    height: 100%;
}
html {
    width: 100%;
    height: 100%
}

h1 {
    font-size: 1.2em
}

h2 {
    font-size: 1.1em;
}

section {
    width: 94%;
    margin: 0 auto;
}

.top-box {
    width: 100%;
    font-size: 1.1em;
    position: relative;
    background-image: linear-gradient(to top, rgba(17,17,17,0.8), rgba(17,17,17,0.5)),url("./main-background.jpeg");
    min-height: 100%;
    background-size:cover;
    padding-top: 10px;
    color: #fff;
}

.mainHeader, .navigation {
    display: inline-block;
    position: absolute;
}

.mainHeader {
    left: 2%
}
.navigation {
    right: 2%
}

li {
    display: inline-block;
    list-style-image: none;
    margin-left: 5px
}

legend {
    font-size: 1.1em;
    font-weight: bold
}

.hidden {
    display: none;
}

.centerBody {
    margin: auto;
    position: relative;
    margin-top: 12%;
    left: 0;
    right:0;
    text-align: center
}

.button {
    margin: 2% auto 0 auto;
    height: 80px;
    width: 200px;
    font-size: 1.2em;
    background-color: #006efc;
    border-radius: 7px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: #10299c;
}

.button:disabled {
    background-color: #4682b4;
    cursor: not-allowed
}

.submit {
    margin-right: 5px
}

fieldset {
    border: none
}

.logInForm input,
.newUserForm1 input,
.newUserForm2 input,
.addCustomer input,
.newInvoiceForm input,
.searchInvoice input,
.editProfileForm input {
    width: 200px;
    height: 20px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.newInvoiceForm select {
    width: 200px;
    height: 30px;
    background-color: #fff
}
.searchCriteria {
    text-align:right;
    width: 200px;
    margin: 20px auto
}

.searchInvoice input[type="radio"] {
    width:20px;
    margin-left: 5px;
    vertical-align: middle
}

.newInvoiceForm input.amount {
    width: 100px
}

.logInForm label, .newUserForm1 label, .newUserForm2 label, .editProfileForm label {
    font-size: 1.1em;
}
.logInForm label::before,
.logInForm label::after,
.newUserForm1 label::before,
.newUserForm1 label::after,
.newUserForm2 label::before,
.newUserForm2 label::after,
.editProfileForm label::before,
.editProfileForm label::after
{
    content: "";
    display: table;
    margin: 2px;
    clear: both
}

.feature {
    display: block
}

.newInvoiceForm {
    max-width:680px;
    margin:auto;
}

.addMoreItem, .remove {
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
}

.invoice {
    min-height: 100%;
}

.editCustomer {
    vertical-align: middle;
    cursor: pointer;
    background: none;
    border:none;
    color:#fff
}

.home, .profile, .logOut {
    cursor: pointer;
    margin: 5px
}

.home:hover, .profile:hover, .logOut:hover {
    text-decoration: underline
}

.items label[for^='item']::before, .addCustomer label[for^='customer']::before{
    content: "";
    display: table;
    margin: 2px;
    clear: both
}

.search label[for^='search'], .addCustomer label[for^='customer'] {
    min-width: 160px;
    max-width: 280px;
    display: inline-block;
    text-align: left
}

.customerInfo {
    text-align: left;
}

.cancel {
    color: #fff;
    font-size: 0.8em;
    bottom: 100px;
    width: 200px;
    height: 30px;
    margin: 10px auto;
    background-color: #10299c;
    border-radius: 7px;
    border: none;
    display: block;
    cursor: pointer;
    transition: background-color 2s
}

.cancel:hover {
    background-color: red;
}

.deleteMe, .deleteCustomer {
    color: #fff;
    font-size: 0.8em;
    bottom: 100px;
    width: 200px;
    height: 30px;
    margin: 10px auto;
    background-color: red;
    border-radius: 7px;
    border: none;
    display: block;
    cursor: pointer;
    transition: background-color 2s
}

.deleteMe:hover, .deleteCustomer:hover {
    background-color: #000;
}

.iconFont {
    font-family: "Font Awesome 5 Free";
    margin-top: 5px;
    font-weight: 1000;
    color:red;
}

.leftForm, .rightForm {
    display: inline-block
}

.passwordForm {
    margin-bottom: 10px
}

.newPassword {
    background-color:lightgray;
}

.invoiceTotal {
    margin: 5px
}

.searchResult {
    min-height: 100%
}
.searchResult, .actionButton {
    max-width:680px;
    margin: 20px auto;
    text-align: center;
    overflow: scroll
}

.searchResult td{
    min-width: 140px;
    height: 30px;
    text-align: center
}

.searchResult td[class^='invoice'] {
    font-size: 1.1em;
    font-weight: bold;

}

.searchResult button {
    width: 150px;
}

.searchResult h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px auto
}